/* Coolors Exported Palette - coolors.co/dddddd-669999-805050-333444-0a0a0a */

/* HSL */
$gainsboro: hsla(0%, 0%, 87%, 1);
$desat-cyan: hsla(180%, 20%, 50%, 1);
$tuscan-red: hsla(0%, 23%, 41%, 1);
$jet: hsla(236%, 14%, 23%, 1);
$smoky-black: hsla(0%, 0%, 4%, 1);

/* RGB */
$gainsboro: rgba(221, 221, 221, 1);
$desat-cyan: rgba(102, 153, 153, 1);
$tuscan-red: rgba(128, 80, 80, 1);
$jet: rgba(51, 52, 68, 1);
$smoky-black: rgba(10, 10, 10, 1);
$desat-cyan-bright: #66AAA0
